.Exhibit {
    float: left;
    margin: 0.5vw;
    padding: 0vw 2vw 0vw 2vw;
    text-align: center;
    border: 1px solid;
    /* Black shadow with 10px blur */
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));

}

.ExhibitHeading {
    font-weight: bold;
    font-size: 1.75vw;
}

.ExhibitContent {
    margin: 0.5vw;
    padding: 1vw;
    text-align: center;
    font-size: 1.75vw;
    color: black;
}
